[Desktop Entry]
Type=Application
Name=Files
Exec=pcmanfm /home/rakazo
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;
StartupNotify=true
